.figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.figureText {
	color: white;
	font-size: 2rem;
}

.figureDescription {
	color: var(--gray);
	text-transform: none;
}

@media screen and (max-width: 768px) {
	.figureText {
		font-size: large;
	}
	.figureDescription {
		font-size: small;
		text-align: center;
	}
}
