.programCard {
	display: flex;
	flex-direction: column;
	background-color: gray;
	padding: 2rem;
	gap: 1rem;
	color: white;
	justify-content: space-between;
	font-size: 1rem;
	font-weight: bold;
	line-height: 25px;
}
.programCard:hover {
	background: var(--planCard);
}
.joinNow {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.joinNow > img {
	width: 1rem;
}
