.programsHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	padding: 0 2rem;
	font-size: 3rem;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
}

.programsContent {
	margin-top: 2rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
	padding: 0 2rem;
}

@media screen and (max-width: 768px) {
	.programsHeader {
		flex-direction: column;
		gap: 1rem;
		font-size: x-large;
		align-items: center;
		justify-content: center;
		margin-top: 2rem;
	}

	.programsContent {
		flex-direction: column;
	}
}
